@import '~antd/dist/antd.css';

:root {
  /* 색 */
  --navy-color: #030a66;
  --white-color: #ffffff;
  --black-color: #0a0a0a;

  /* 사이즈 */
  --logo-size: 75px;
}
.Head {
  position: relative;
  left: 12%;
  width: 1120px;
  height: 140px;
}
.ant-menu-horizontal > .ant-menu-item a {
  color: var(--navy-color);
  font-weight: bold;
}
.Head > .Pagename {
  /* 페이지 이름 */

  display: flex;
  flex-direction: row;
  padding: 15px 0px 15px 0px;
  border: '1px solid violet';
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 50%;

  top: 30%;
}
.Head > .Pagename img {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 250px;
  max-height: 68px;
}
.Head > .Image {
  /* 이미지 */

  position: absolute;
  width: 8%;
  height: 60%;
  left: 45%;
}

.ant-space-item {
  position: relative;
}
.ant-space.ant-space-vertical {
  /* MenuBar */
  left: 23%;
  position: relative;
  width: 770px;
  height: 50%;
  top: 50px;

  /* Auto Layout */
  align-items: center;
  justify-content: space-between;
}
/* #Menubar {
  position: relative; 
  display: flex;
  flex-direction: row;
  align-content: center;
} */
/* 서브메뉴 사이즈 */
.ant-dropdown-menu.ant-dropdown-menu-light.ant-dropdown-menu-root.ant-dropdown-menu-vertical {
  width: 120%;
}

#Searchbar {
  /* 검색창 */

  position: absolute;
  width: 25%;
  right: 3%;
  height: 25px;
  top: -1%;
}
.anticon.anticon-search {
  color: var(--navy-color);
}

/* 검색 상위 */
.ant-input-group-wrapper.ant-input-search {
  width: 100%;
  height: 100%;
}
/* .ant-input-wrapper.ant-input-group {
  border: 1px solid var(--navy-color);
} */

.ant-input-affix-wrapper {
  height: 26px;
}
.ant-input-group-addon button {
  height: 25px;
}
/* 위는 검색창 통괄 / 아래는 세부페이지 검색창 메뉴 조절  */
.ant-select.ant-select-single.ant-select-show-arrow {
  width: 95px;
  height: 25px;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 100%;
}

.Head > .loginbar {
  /* 로그인 */

  position: absolute;

  width: 20%;
  height: 25%;
  right: 5%;
}

.Main {
  position: relative;
  left: 11%;
  width: 1120px;
  height: 1200px;

  top: 2%;
}

/* 반응형 배너 사이즈 조절  필요 */
.Main > .Mainbanner {
  position: absolute;
  width: 94%;
  height: 34%;
  left: 3%;
  top: 2%;
}
.Main > .MainCalendar {
  /* 학사,장학일정 */

  position: absolute;
  width: 100%;
  height: 30%;

  top: 38%;
  /* background: #aba85e; */
}

.Main > .board {
  /* favorite board */

  position: absolute;
  width: 100%;
  height: 33%;

  top: 69%;

  /* background: #cd7d7d; */
}
.Footer {
  /* Footer */

  position: relative;
  left: 12%;
  width: 1100px;
  height: 150px;
  top: 50px;
}
/* 작은 캘린더 */
.site-calendar-demo-card {
  float: left;
  width: 45%;
}
