@import '~antd/dist/antd.css';

.Head {
  position: relative;
  left: 15%;
  width: 1120px;
  height: 140px;
}

.Head > .Pagename {
  /* 페이지 이름 */

  display: flex;
  flex-direction: row;
  padding: 15px 0px 15px 0px;
  border: '1px solid violet';
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 50%;

  top: 30%;
}
.Head > .Pagename img {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 250px;
  max-height: 68px;
}
.Head > .Image {
  /* 이미지 */

  position: absolute;
  width: 8%;
  height: 60%;
  left: 45%;
}
/* 여기서 부터 수정필요 */
.ant-space-item {
  position: relative;
}
#Menubar {
  /* MenuBar */

  /* Auto Layout */
  position: relative;
  display: flex;
  flex-direction: row;
  /* align-content: center; */
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  width: 850px;
  height: 57%;
  left: 32%;
  top: 60px;
}
/* 서브메뉴 사이즈 */
.ant-dropdown-menu.ant-dropdown-menu-light.ant-dropdown-menu-root.ant-dropdown-menu-vertical {
  width: 120%;
}

#Searchbar {
  /* 검색창 */

  position: absolute;

  width: 37%;
  right: 0%;
  top: 20%;
}

.ant-input-group-wrapper.ant-input-search {
  width: 80%;
}
.Head > .loginbar {
  /* 로그인 */

  position: absolute;

  width: 23%;
  height: 25%;
  left: 75%;
}

.Main {
  position: relative;
  left: 15%;
  width: 1120px;
  height: 1200px;

  top: 2%;
}

/* 반응형 배너 사이즈 조절  필요 */
.Main > .Mainbanner {
  position: absolute;
  width: 100%;
  height: 34%;
  left: 1%;
  top: 1%;
}
.Main > .MainCalendar {
  /* 학사,장학일정 */

  position: absolute;
  width: 100%;
  height: 30%;

  top: 38%;
  /* background: #aba85e; */
}

.Main > .board {
  /* favorite board */

  position: absolute;
  width: 100%;
  height: 33%;

  top: 69%;

  /* background: #cd7d7d; */
}

/* 푸터 변경 필요 x */
.Footer {
  /* Footer */

  position: relative;
  left: 15%;
  width: 1100px;
  height: 100px;
  top: 50px;
  background: #f0d0d0;
}

/* 오른쪽 부유 바 */
.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
  position: absolute;
  text-align: left;
  width: 180px;
  height: 206px;
  top: 224px;
  right: 8%;
}
.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: none;
}
/* 작은 캘린더 */
.site-calendar-demo-card {
  float: left;
  width: 45%;
}
