@import '~antd/dist/antd.css';
:root {
  /* 색 */
  --navy-color: #030a66;
  --white-color: #ffffff;
  --black-color: #0a0a0a;

  /* 사이즈 */
  --logo-size: 75px;
}
.Map {
  top: 1%;
  right: 15%;

  display: flex;
}
/* 반응형에서 수정 */
.Map-left {
  /* Title */
  position: relative;
  width: 8%;
  min-width: 8%;
  height: 907px;
  left: 15%;
  top: 30px;

  border: 1px solid var(--navy-color);
}

.Map-left > .navi {
  position: absolute;
  width: 80%;
  height: 3%;
  left: 10%;
  top: 3%;
}
.Map-left > .content {
  position: absolute;
  width: 80%;
  height: 50%;
  left: 10%;
  top: 10%;
}
.Map-left > .content button {
  font-size: 17px;
  font-weight: bold;
}
#seoul {
  position: absolute;
  width: 80%;
  height: 45%;
  left: 10%;
  top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--navy-color);
}
#global {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  width: 80%;
  height: 45%;
  left: 10%;
  bottom: 3%;

  border: 1px solid var(--navy-color);
}
.map-boo {
  position: absolute;
  bottom: 0%;
  width: 99%;
  height: 31%;
}
.map-boo img {
  width: 100%;
}

.up-down {
  position: relative;
  top: 30px;
  left: 16%;
  border-right: thin solid black;

  height: 907px;
}

.Map-main {
  position: absolute;
  width: 48%;
  min-width: 48%;
  height: 907px;
  left: 25%;
  top: 170px;
}
/* Map Content */
/* .Map-main > .Map-board {
  position: relative;
  width: 100%;
  height: 45%;
  left: 0%;
  top: 500px;

  background: #ce7d7d;
} */
/* 이까지 Board  */

.community-main {
  /* Content */

  position: relative;
  width: 1050px;
  height: 920px;
  left: 12.5%;
  top: 2.5%;
  border: solid 1px black;
  /* background: #afa1a1; */
}

.community-main > .community-box {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 7%;
}

#root > div > div.Main > div.MainCalendar > div > div:nth-child(2) > div {
  border: none;
}
#root > div > div.Main > div.MainCalendar > div > div.site-calendar-demo-card {
  border: none;
}
#root
  > div
  > div.Main
  > div.MainCalendar
  > div
  > div.site-calendar-demo-card
  > div
  > div.ant-picker-panel {
  border-top: none;
}
#community-main {
  /* Content */

  position: relative;
  width: 1100px;
  height: 700px;
  left: 15%;
  top: 2.5%;
  border: solid 1px black;
  /* background: #afa1a1; */
}
#community-main .title-bar {
  width: 100%;
  height: 10%;
}
#community-main .quill {
  height: 83%;
}
#community-main .quill .ql-container {
  border-style: none;
}
#button-bar {
  top: 5%;
  float: right;
  justify-content: space-between;
}
Search {
  width: 330px;
  height: 30px;
}

.ant-picker-calendar.ant-picker-calendar-mini {
  height: 44%;
}
.ant-list.ant-list-split.ant-list-bordered {
  height: 43%;
  overflow-y: scroll;
  top: 13%;
}
