@import '~antd/dist/antd.css';
:root {
  /* 색 */
  --navy-color: #030a66;
  --white-color: #ffffff;
  --black-color: #0a0a0a;

  /* 사이즈 */
  --logo-size: 75px;
}

/* Map Content */
/* .Map-main > .Map-board {
  position: relative;
  width: 100%;
  height: 45%;
  left: 0%;
  top: 500px;

  background: #ce7d7d;
} */
/* 이까지 Board  */

.community-main {
  /* Content */

  position: relative;
  width: 1000px;
  height: 920px;
  left: 13%;
  top: 2.5%;
  border: solid 1px black;
  /* background: #afa1a1; */
}

.community-main > .community-box {
  position: absolute;
  width: 94%;
  height: 90%;
  left: 3%;
  top: 7%;
}

#root > div > div.Main > div.MainCalendar > div > div:nth-child(2) > div {
  border: none;
}
#root > div > div.Main > div.MainCalendar > div > div.site-calendar-demo-card {
  border: none;
}
#root
  > div
  > div.Main
  > div.MainCalendar
  > div
  > div.site-calendar-demo-card
  > div
  > div.ant-picker-panel {
  border-top: none;
}
#community-main {
  /* Content */

  position: relative;
  width: 1000px;
  height: 700px;
  left: 13%;
  top: 2.5%;
  border: solid 1px black;
  /* background: #afa1a1; */
}
#community-main .title-bar {
  width: 100%;
  height: 10%;
}
#community-main .quill {
  height: 83%;
}
#community-main .quill .ql-container {
  border-style: none;
  height: 93%;
}
#button-bar {
  /* bottom: 5%; */
  float: right;
  justify-content: space-between;
}
Search {
  width: 330px;
  height: 30px;
}

.ant-picker-calendar.ant-picker-calendar-mini {
  height: 44%;
}
.ant-list.ant-list-split.ant-list-bordered {
  height: 43%;
  overflow-y: scroll;
  top: 5%;
}
