.commentset {
  position: absolute;
  right: 5px;
  top: 0px;
  /* border: 1px solid black; */
  display: flex;
}
.commentset button,
.commentset div,
.commentset img {
  font-size: 12px;
}
.commentset > img {
  width: 15%;
  height: 15%;
  margin: auto 0;
}
.like {
  background-color: white;
  border-color: white;
  cursor: pointer;

  border-style: none;
}
.delete {
  color: black;
  opacity: 0.6;
  background-color: white;
  border-color: white;
  cursor: pointer;
  border-style: none;
}
.commenttextarea {
  width: 80%;
}
.form input {
  width: 10%;
  height: 30%;
}
