:root {
  /* 색 */
  --navy-color: #030a66;
  --white-color: #ffffff;
  --black-color: #0a0a0a;
}
.Map {
  top: 1%;
  right: 15%;

  display: flex;
}
/* 반응형에서 수정 */
.Map-left {
  /* Title */
  position: relative;
  width: 8%;
  min-width: 8%;
  height: 907px;
  left: 15%;
  top: 30px;

  border: 1px solid var(--navy-color);
}

.Map-left > .navi {
  position: absolute;
  width: 80%;
  height: 3%;
  left: 10%;
  top: 3%;
}
.Map-left > .content {
  position: absolute;
  width: 80%;
  height: 50%;
  left: 10%;
  top: 10%;
}

.Map-left > .content div:first-child {
  font-weight: bold;
  color: var(--navy-color);
  font-size: 17px;
}
.Map-left > .content button:nth-child(2) {
  font-size: 14px;
  top: 2%;
}
#seoul {
  position: absolute;
  width: 80%;
  height: 45%;
  left: 10%;
  top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Map-left > .content > .line {
  position: relative;
  top: 50%;
  width: 100%;
}
#global {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  width: 80%;
  height: 45%;
  left: 10%;
  bottom: 3%;
}
.map-boo {
  position: absolute;
  bottom: 0%;
  width: 99%;
  height: 34%;
}
.map-boo img {
  width: 100%;
}
/* .up-down {
  position: relative;
  top: 30px;
  left: 16%;
  border-right: thin solid black;

  height: 907px;
} */

.Map-main {
  position: absolute;
  width: 48%;
  min-width: 48%;
  height: 907px;
  left: 25%;
  top: 170px;
}
#KaKaoMap {
  width: 100%;
  height: 907px;
}
#map {
  width: 100%;
  height: 907px;
  overflow: hidden;
}
#Food-list {
  position: absolute;
  right: 2%;
  top: 2%;
  height: 90%;
  z-index: 999;
  width: 31%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#Food-list
  .ant-card.ant-card-bordered.ant-card-small
  > .ant-card-body
  > button {
  float: left;
}
#itemContainer {
  display: block;
  background-color: white;
}
#itemState {
  position: relative;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 15px;
  font-weight: bold;
  width: 20%;
  cursor: pointer;
  color: var(--navy-color);
}
.Food-head {
  background-color: white;
  display: flex;
}
.Food-head > .Search {
  width: 80%;
}
.SearchInput {
  width: 100%;
}
