@media (max-width: 1600px) {
  .ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
    right: 100px;
  }
}
@media (max-width: 1500px) {
  .ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
    left: 85%;
  }
}
@media (max-width: 1400px) {
  .Head,
  .Footer,
  .community-main,
  #community-main {
    left: 4%;
  }
  .Main {
    left: 1%;
  }
  .ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
    left: 83%;
  }

  /* .Map {
    left: 2%;
    right: inherit;
  } */
}
@media (max-width: 1280px) {
  .Head {
    left: 6%;
    width: 90%;
    max-width: 1280px;
  }
  .Head > .loginbar {
    width: 20%;
    right: 10%;
  }
  .ant-space.ant-space-vertical {
    left: 20%;
  }

  .community-main {
    left: 5%;
    width: 950px;
  }

  #Menubar {
    left: 28%;
    padding: 0px;
  }
  /* 달력부분 조절 */
  .Main {
    left: 4%;
  }
  .Main > .MainCalendar {
    width: 90%;
    left: 3%;
  }

  .map-boo img {
    width: 100%;
  }
  .Map-main {
    width: 65%;
  }
  .ant-picker-cell {
    padding: 2px;
  }
  .ant-picker-cell .events {
    padding: 0 0;
  }
  .Main > .Mainbanner {
    width: 90%;
  }
  /* .ant-badge.ant-badge-status.ant-badge-not-a-wrapper {
    display: flex;
  } */
  /* 퀵메뉴 */
  .ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
    left: 85%;
  }
  #Searchbar {
    right: 7%;
  }
  .ant-breadcrumb {
    font-size: 12px;
  }
  #community-main {
    /* Content */

    position: relative;
    width: 80%;
    top: 30px;
    border: solid 1px black;
    /* background: #afa1a1; */
  }

  .Footer {
    left: 2%;
  }
}
@media (max-width: 1200px) {
  .ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
    display: none;
  }
  .Head .loginbar {
    width: 200px;
    right: 0;
  }
}
@media (max-width: 768px) {
  /* 반응형 최대 768 테스트 */

  .Head {
    width: 100%;
    max-width: 700px;
  }
  .Head > .Pagename {
    padding: 0px;
  }
  .Head > .Pagename img {
    height: 50px;
  }
  .Head > .Image {
    width: 80px;
  }
  .Main {
    width: 110%;
  }
  .Main > .Mainbanner {
    display: none;
  }
  .Main > .MainCalendar {
    top: 3%;
    width: 100%;
  }
  .site-calendar-demo-card {
    width: 50%;
    height: 50%;
  }
  /* 배너 숨김 */
  .ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
    display: none;
  }
  .ant-space.ant-space-vertical,
  .ant-space-item {
    width: 100%;
  }
  .Head > .loginbar {
    width: 250px;
    left: 91%;
    margin-bottom: 5px;
    display: flex;
  }
  #Searchbar {
    width: 350px;
    left: 75%;
    height: 38px;
    margin-top: 5px;
    display: flex;
  }
  #Searchbar > .ant-input-group-wrapper.ant-input-search {
    width: 300px;
  }
  #Menubar {
    width: 750px;
    padding: 0px;
    left: 23%;
    justify-content: space-evenly;
  }
  .Footer {
    display: none;
  }

  /* 아래 게시판 */
  .community-main {
    left: 20%;
    width: 100%;
    height: 750px;
  }
  .community-main > .community-box {
    top: 6%;
  }
  .ant-list.ant-list-split.ant-list-bordered {
    top: 13%;
  }
  .bottom {
    top: 98%;
    left: 1%;
  }
  #community-main {
    left: 30%;
  }
  .community-main > .community-box {
    height: 92%;
  }

  /* .community-box span {
    width: 65%;
  } */

  /* 지도부분 */
  .Map {
    right: 0%;
    height: 700px;
  }
  .Map-left {
    width: 13%;
    height: 100%;
  }
  .up-down {
    height: 100%;
  }
  .Map-main {
    width: 100%;
    height: 700px;
    left: 30%;
  }
  #KaKaoMap {
    height: 700px;
  }
  #map {
    height: 700px;
  }
  #Food-list {
    width: 35%;
  }
  .ant-breadcrumb {
    font-size: 11px;
  }
  .map-boo {
    position: relative;
    top: 67%;
    width: 100%;
    height: 31%;
  }
  .map-boo img {
    width: 100%;
  }
}
