.communitymain {
  position: relative;
  width: 1000px;

  left: 13.5%;
  top: 2.5%;
  border: solid 1px black;
  height: 1300px;
}
.communitybox {
  position: absolute;
  width: 90%;
  height: 95%;
  left: 5%;
  top: 3%;
}
.postinfo {
  margin-top: 10px;
}
.recommend {
  cursor: pointer;
  float: right;
  font-size: 15px;
  margin: auto 0;
}
.like {
  float: right;
}
.like img {
  vertical-align: sub;
  width: 50%;
}
.ant-comment-content .ant-comment-content-detail {
  width: 80%;
}

@media (max-width: 1400px) {
  .communitymain {
    left: 4%;
  }
}
@media (max-width: 1280px) {
  .communitymain {
    left: 2%;
  }
}
