/* li {
  list-style: none;
  display: inline-block;
}
li a {
  display: block;
  padding: 20px;
  border: solid 1px blue;
} */
a:hover {
  cursor: pointer;
}
.pagination-ul {
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 0 0;
  justify-content: space-around;
}
.community {
  position: absolute;
  width: 915px;
  height: 725px;
  left: 410px;
  top: 300px;
}

.community > .cut-row {
  position: absolute;
  width: 915px;
  height: 0px;

  top: 47px;

  border: 1px solid #000000;
}
tr {
  height: 40px;
}
td {
  overflow: hidden;
}
.pageLabel-btn {
  color: blue;
}
.pagination-ul > li {
  list-style: none;
}
.pagination-ul > button {
  align-items: flex-end;
}
table th:first-child {
  width: 5%;
}
table th {
  width: 20%;
}
.bottom {
  position: absolute;
  width: 70%;
  height: 2%;
  left: 14%;

  top: 90%;
}

/* 검색창 위치고정 */
#community-searchbar .ant-input-wrapper.ant-input-group {
  height: 38px;
  top: 10px;
}
#community-searchbar .ant-input-affix-wrapper {
  height: 38px;
}
.board-content {
  display: inline-block;
  min-height: 40%;
  overflow-y: scroll;
}
/* .comment-body {
  height: ;
} */

/* 글부분 + 댓글 부분 파트 분할 */
.ant-card.ant-card-bordered {
  height: 100%;
}
.ant-card.ant-card-bordered > .ant-card-head {
  height: 10%;
}

.ant-card.ant-card-bordered > .ant-card-body {
  height: 90%;
}
/* 댓글 전체부분 */
.comment-body {
  overflow-y: scroll;
  height: 40%;
}

/* 댓글  */
.ant-comment-inner {
  padding: 6px 0;
}

/* 댓글 쓰고 제출부분 */
.comment-input {
  width: 90%;
  height: 9%;
  position: absolute;
}
/* .ant-input-textarea.ant-input-textarea-show-count {
  width: 90% !important;
  height: 100% !important;
} */
.comment-textarea {
  display: inline-block;
  width: 90%;
  height: 100%;
}
.comment-textarea textarea {
  height: 100% !important;
  min-height: 74px !important;
  max-height: none !important;
  overflow-y: scroll !important;
}
.comment-input button {
  width: 10% !important ;
  height: 100% !important;
}
