/* 오른쪽 퀵메뉴*/
.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
  position: absolute;
  text-align: left;
  width: 160px;
  height: 206px;
  top: 25%;
  left: 80%;
  /* width1220까지 안 겹침 */
}
.ant-menu-submenu-title > * {
  color: var(--navy-color);
}
.ant-menu-submenu.ant-menu-submenu-inline {
  border: 1px solid var(--navy-color);
}
.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: none;
}
.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline
  .ant-menu-item.ant-menu-item-only-child {
  padding-left: 30px !important;
}
