:root {
  /* 색 */
  --navy-color: #030a66;
  --white-color: #ffffff;
  --black-color: #0a0a0a;
}
.scholarhead {
  color: var(--navy-color);
  font-weight: bold;
  display: flex;
  font-size: 14px;
}
.scholarhead * {
  text-align: center;
}
.ant-list.ant-list-split.ant-list-bordered .ant-list-header {
  padding-left: 18px;
}
.scholarhead .s1 {
  width: 7%;
}
.scholarhead .s2 {
  width: 5%;
}
.scholarhead .s3 {
  width: 7%;
}
.scholarhead .s4 {
  width: 80%;
}
.scholarhead .s5 {
  width: 19%;
  text-align: end;
}
/* 여긴 메인 캘린더 */
.main-Calendar-head * {
  color: var(--navy-color);
  font-weight: bold;
}
.community-main .ant-picker-calendar-header {
  /* 날짜 선택 */
  position: relative;
  width: 45%;
  float: right;
  padding-right: 5% !important;
}
.ant-alert.ant-alert-info.ant-alert-no-icon {
  /* 장학금 달력 부모 태그 */
  position: absolute;
  width: 50%;
  height: 49px;
  background-color: white;
  border: none;
}
.ant-alert-message {
  /* 장학금 달력 */
  color: var(--navy-color);
  font-size: 16px;
  font-weight: bold;
  margin-left: 10%;
}
.ant-picker-content > thead th {
  /* 달력 요일  */
  color: var(--navy-color);
  font-weight: bolder;
  font-size: 16px;
}

.ant-picker-content tbody tr td {
  padding: 0px !important;
  vertical-align: top;
}
.ant-picker-cell .ant-picker-cell-inner {
  line-height: 26px;
}
.ant-picker-calendar-date-value {
  font-weight: bold;
  font-size: 14px;
}
.scholar-search {
  display: flex;
  position: relative;
  top: 5%;
}
.scholar-search-type {
  width: 45%;
}
.scholar-search-head {
  color: var(--navy-color);
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  margin-left: 3%;
}
.scholar-search-all {
  color: var(--navy-color);
  font-weight: bold;
  margin-top: 4%;
  margin-left: 46%;
  cursor: pointer;
}
