.ant-modal {
  width: 420px;
}
.ant-modal-title {
  text-align: center;
}
.ant-modal-body {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.ant-modal-body button {
  width: 60%;
  margin: 10px auto;
  border: 1px solid gray !important;
  box-shadow: none !important;
}
.ant-modal-body span {
  text-align: center;
  width: 80%;
}
.ant-modal-body img {
  width: 60%;
  height: 50px;

  display: block;
  margin: 10px auto;
}
.ant-modal-footer {
  height: 50px;
}
.ant-modal-footer .ant-btn.ant-btn-primary {
  color: navy;
}

@media (max-width: 1600px) {
  .ant-modal-body-revise {
    left: 15%,
  }
}
@media (max-width: 1400px) {
  .ant-modal-body-revise {
    left: 5%,
  }
}
@media (max-width: 1280px) {
  .ant-modal-body-revise {
    left: 0%,
  }
}