.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}

* {
  list-style: none;
}
/* .Footer .slick-track > div > div > div {
  display: flex;
} */
/* .Footer .slick-slide.slick-active.slick-current,
.Footer .slick-slide {
  width: 300px !important;
} */
.Footer .slick-slider.slick-initialized {
  background: #f0f0f0;
}
.Footer .slick-slide.slick-active.slick-current > div > div,
.Footer .slick-slide > div > div {
  display: flex !important;
}
.Footer img {
  width: 80%;
  float: none;
  border-radius: 50%;
}
.Footer .info {
  margin: auto 0;
  text-align: center;
}
.Footer .info2 {
  opacity: 0.7;
  font-size: 13px;
}
.slick-list {
  width: 100%;
}
