.Head {
  position: relative;
  left: 15%;
  width: 1100px;
  height: 140px;

  /* top: 39px; */

  background-color: #8897cb;
}

.Head > .Pagename {
  /* 페이지 이름 */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  padding: 15px 0px 15px 0px;
  border: '1px solid violet';
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 68px;
  left: 0px;
  top: 35px;

  background: #358838;
}

.Head > .Image {
  /* 이미지 */

  position: absolute;
  width: 169px;
  height: 60px;
  left: 492px;
  top: 0px;

  background: #abad43;
}

.Head > .Menubar {
  /* MenuBar */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  /* align-content: center; */
  align-items: center;
  justify-content: space-between;
  padding: 40px;

  position: absolute;
  width: 850px;
  height: 80px;
  left: 250px;
  top: 61px;

  background: #f0d0d0;
}
.Head > .Searchbar {
  /* 검색창 */

  position: absolute;
  width: 278px;
  height: 30px;
  left: 822px;
  top: 20px;

  background: #aba85e;
}
.Head > .loginbar {
  /* 로그인 */

  position: absolute;

  width: 278px;
  height: 20px;
  left: 822px;
  top: 0px;

  background: #abad43;
}

.Main {
  position: relative;
  left: 15%;
  width: 1120px;
  height: 1200px;

  top: 20px;
  border: '1px solid violet';
  background: #8897cb;
}

.Main > .Mainbanner {
  position: absolute;
  width: 1100px;
  height: 370px;
  left: 10px;
  top: 12px;

  background: #d38383;
}
.Main > .MainCalendar {
  /* 학사,장학일정 */

  position: absolute;
  width: 980px;
  height: 330px;
  left: 70px;
  top: 433px;
  background: #aba85e;
}

.Main > .board {
  /* favorite board */

  position: absolute;
  width: 1100px;
  height: 370px;
  left: 10px;
  top: 813px;

  background: #cd7d7d;
}

.Footer {
  /* Footer */

  position: relative;
  left: 15%;
  width: 1120px;
  height: 100px;
  top: 150px;
  background: #f0d0d0;
}

.Quick {
  position: absolute;
  text-align: left;
  width: 130px;
  height: 206px;
  right: 0px;
  top: 224px;

  background: #8897cb;
}
