@import '~antd/dist/antd.css';
.Map {
  top: 20px;
  display: flex;
}
.Map-left {
  /* Title */
  position: relative;
  width: 250px;
  height: 907px;
  left: 15%;
  top: 20px;

  background: #eda6a6;
}
.Map-left > .navi {
  position: absolute;
  width: 200px;
  height: 46px;
  left: 23%;
  top: 20px;
}
.Map-left > .content {
  position: absolute;
  width: 219px;
  height: 447px;
  left: 17px;
  top: 10%;
  background-color: navajowhite;
}
#seoul {
  position: absolute;
  width: 201px;
  height: 196px;
  left: 8px;
  top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #ffffff;
}
#global {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  width: 201px;
  height: 196px;
  left: 7px;
  top: 230px;

  background: #ffffff;
}

.up-down {
  position: relative;
  top: 20px;
  left: 16%;
  border-right: thin solid black;

  height: 907px;
}

.Map-main {
  position: relative;
  width: 823px;
  height: 907px;
  left: 17%;
  top: 20px;

  background: #fde6e6;
}
.Map-main > .Mini-map {
  position: absolute;
  width: 750px;
  height: 398px;
  left: 25px;
  top: 25px;

  background: #4e3a3a;
}
.Map-main > .Map-board {
  /* Map Content */

  position: absolute;
  width: 100%;
  height: 45%;
  left: 0%;
  top: 500px;

  background: #ce7d7d;
}
/* 이까지 Board  */

.community-main {
  /* Content */

  position: relative;
  width: 1100px;
  height: 920px;
  left: 15%;
  top: 20px;
  border: solid 1px black;
  /* background: #afa1a1; */
}
.row {
  position: absolute;
  width: 1100px;
  height: 0px;
  left: 0.5px;
  top: 115px;

  border: 1px solid #000000;
}
.page-name {
  position: absolute;
  width: 205px;
  height: 52px;
  left: 448px;
  top: 29px;

  background: red;
}
.community-main > .navi {
  position: absolute;
  width: 144px;
  height: 46px;
  left: 5%;
  top: 20px;
  background-color: red;
}
.community-main > .community-box {
  position: absolute;
  width: 915px;
  height: 720px;
  left: 93px;
  top: 90px;

  /* background: #ecb3b3; */
}

.community-box > .content {
  position: absolute;
  width: 915px;
  height: 629px;
  left: 0;
  top: 38px;

  background: rgb(135, 135, 168);
}
.community-box > .page-number {
  position: absolute;
  width: 915px;
  height: 53px;
  left: 0px;
  top: 667px;

  background: #ffffff;
}
#root > div > div.Main > div.MainCalendar > div > div:nth-child(2) > div {
  border: none;
}
#root > div > div.Main > div.MainCalendar > div > div.site-calendar-demo-card {
  border: none;
}
#root
  > div
  > div.Main
  > div.MainCalendar
  > div
  > div.site-calendar-demo-card
  > div
  > div.ant-picker-panel {
  border-top: none;
}
#community-main {
  position: relative;
  width: 1100px;
  height: 470px;
  left: 15%;
  top: 20ox;
  border: solid 1px black;
}
.title-bar {
  width: 100%;
  height: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px #969393;
}
.ql-toolbar.ql-snow {
  padding-top: 20px;
  padding-bottom: 20px;
}
.ql-container.ql-snow {
  height: 300px;
  max-height: 500px;
}

#button-bar {
  float: right;
  justify-content: space-between;
}

#button-head {
  font-size: 25px;
  top: 0%;
}
.Map .content Button {
  margin: 3%;
}
